/*Navbar*/
.navbar .logo {
    font-size: 1.9em;
    margin-left: 0%;
}

.nav-links ul {
    font-size: 1em;
}

.nav-links ul li {
    margin: 0 20px;
}

/*Home*/
.home {
    grid-template-columns: 2fr 1fr;
    margin-top: 5%;
}

/*Container-left*/
.header {
    margin: 45% 5% 5% 5%;
}

/*Gallery*/
.prev {
    top: 200%;
}

.next {
    top: 200%;
}

.switch-dots {
    top: 241%;
    left: 47%;
}