/*Navbar*/
    .navbar .logo {
        
    }

    .nav-links ul {
       
    }

    .nav-links ul li {
        margin: 0 25px;
    }

    .navbar .menu-hamburger {
        display: none;
    }

    /*Home*/
    .home {
        grid-template-columns: 2fr 1fr;
    }

    /*Container-left*/
    .header {
        width: 55%;
        margin: 30% 10% 5% 10%;
    }

    .header h1 {
        font-size: 2.5em;
    }

    .header p {
        font-size: 1.4em;
    }

    /*About*/
.about-content {
    margin: 5%;
    width: 100%;
}

/*Gallery*/
.prev {
    top: 210%;
}

.next {
    top: 210%;
}

.switch-dots {
    top: 250%;
}

/*Footer*/
.contact {
    height: 40vh;
    align-items: center;
}

.socials h1 {
    margin-bottom: 2%;
}

.phone-number, .socials {
    width: 50vw;
    padding: 0 15%;
}

.copyright p {
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1.5px;
}
