/*Navbar*/
.navbar .logo {
    width: 30%;
    font-size: 1.6em;
    padding-left: 2%;
}

.nav-links {
    top: 0;
    left: 0;
    position: static;
    background: none;
    width: 70%;
    height: 9vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 0;
}

.nav-links ul {
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    font-size: 0.9em;
}

.nav-links ul li {
    margin: 0 15px;
}

.navbar .menu-hamburger {
    display: none;
}

/*Home*/
/*Container-left*/
.header {
    margin: 15% 5% 5% 5%;
}

.header h1 {
    font-size: 2em;
}

.header p {
    font-size: 1.3em;
}

/*Container-right*/
.container-right {
    background: #000;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.container-right img {
    width: auto;
}

/*About*/
.about-content {
    margin: 5% 5% 0% 5%;
    width: 100%;
}

.about-content:last-child {
    margin-bottom: 5%;
}

/*Footer*/
.contact {
    height: 40vh;
    align-items: center;
}

.socials h1 {
    margin-bottom: 2%;
}

.phone-number, .socials {
    width: 50vw;
    margin: 0 8% 0 8%;
    padding: 0;
}

.copyright p {
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1.5px;
}
