* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #6b6b6b; 
}
   
::-webkit-scrollbar-thumb {
    background: rgb(53, 53, 53); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(41, 41, 41); 
}

body {
    color: white;
    font-family: 'Poppins', sans-serif;
}

/*Navbar*/
.navbar {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    height: 9vh;
    padding: 1.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient(180deg, rgba(8,7,7,1) 0%, rgba(8,7,7,1) 90%, rgba(37,36,34,1) 100%);
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
}

.nav-links ul {
    list-style: none;
    display: flex;
}

.nav-links ul li {
    margin: 0 25px;
    font-size: 1.1em;
    letter-spacing: 1.5px;
}

.nav-links ul li.checked a {
    font-size: 1.05em;
    font-weight: 600;
}

.navbar .menu-hamburger {
    z-index: 99;
    display: none;
    margin-right: 2%;
    width: 35px;
}

@media screen and (max-width: 900px) {

    .navbar .logo {
       margin-left: 5%;
    }

    .navbar .menu-hamburger {
        display: block;
    }

    .navbar .menu-hamburger:hover {
        cursor: pointer;
    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-links ul li {
        cursor: pointer;
        margin: 25px 0;
        font-size: 1.2em;
    }
}

/*Home*/
.home {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100vh;
}

/*Container-left*/
.container-left {
    background: linear-gradient(33deg, rgba(29,109,129,1) 0%, rgba(19,73,87,1) 42%, rgba(2,38,46,1) 92%);
}

.header {
    width: 55%;
    margin-top: 30%;
    margin-left: 10%;
}

.header h1 {
    font-size: 2.5em;
}

.header p {
    font-size: 1.4em;
}

/*Container-right*/
.container-right img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 900px) {
    .home {
        grid-template-columns: 1fr;
        height: 100%;
    }

    .header {
        width: 90%;
        margin: 25% 5% 10% 5%;
    }

    .header h1 {
        font-size: 1.9em;
        margin-bottom: 1.5%;
    }

    .header p {
        font-size: 1.1em;
    }
}

/*About*/
.about {
    background: linear-gradient(180deg, rgba(37,36,34,1) 0%, rgba(8,7,7,1) 5%, rgba(8,7,7,1) 96%, rgba(37,36,34,1) 100%);
    height: 50vh;
}

.about .container {
    display: flex;
    justify-content: space-between;
}

.about-content {
    margin: 5% auto;
    width: 25%;
}

.about-content h1 {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 2%;
}

.about-content p {
    font-size: 1.1em;
}

@media screen and (max-width: 900px) {
    .about {
        height: 110vh;
    }

    .about .container {
        flex-wrap: wrap;
    }

    .about-content {
        margin: 5% 2%;
        width: 100%;
    }
}

/*Gallery*/
.gallery {
    display: flex;
    height: 90vh;
}

.gallery-content {
    width: 100vw;
    background: black;
}

.slideshow-container {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.slide {
    display: none;
}

.slide img {
    max-width: 100%;
    height: 90vh;
}

.prev, .next {
    font-size: 2.4em;
    padding: 5% 2%;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    position: absolute;
    top: 185%;
    left: 0%;
}

.next {
    position: absolute;
    top: 185%;
    right: 0%;
}

.prev:hover, .next:hover {
    font-size: 3em;
}

.switch-dots {
    position: absolute;
    left: 48%;
    top: 236%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #646464;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media screen and (max-width: 900px) {
    .gallery {
        height: 70vh;
    }

    .slideshow-container {
        height: 80vh;
    }

    .slide img {
        height: 70vh;
    }

    .prev {
        top: 252%;
    }
    
    .next {
        position: absolute;
        top: 252%;
    }

    .switch-dots {
        top: 289%;
    }
}

/*Footer*/
footer {
    height: 40vh;
    background: linear-gradient(180deg, rgba(37,36,34,1) 0%, rgba(8,7,7,1) 5%);
}

.contact {
    height: 40vh;
    display: flex;
    align-items: center;
}

.contact img {
    width: 30px;
    height: 30px;
    margin-right: 2%;
}

.phone-number h2 {
    margin-bottom: 2%;
}

.phone-number a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.phone-number a:hover {
    text-decoration: underline;
}

.socials h1 {
    margin-bottom: 2%;
}

.socials ul {
    list-style: none;
}

.socials ul li {
    margin-bottom: 1%;
}

.socials ul li a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.socials ul li a:hover {
    text-decoration: underline;
}

.phone-number, .socials {
    width: 50vw;
    padding: 0 15%;
}

.copyright {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(8,7,7,1) 0%, rgba(8,7,7,1) 80%, rgba(37,36,34,1) 100%);
}

.copyright p {
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 900px) {
    footer {
        height: 30vh;
    }

    .contact {
        height: 30vh;
        align-items: flex-start;
    }

    .contact h1 {
        font-size: 1.5em;
    }

    .contact h2 {
        font-size: 1.2em;
    }

    .contact p {
        font-size: 0.9em;
    }

    .phone-number, .socials {
        width: 50vw;
        padding: 10% 5%;
    }

    .copyright p {
        font-size: 1.1em;
    }
}