* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Poppins', sans-serif;
}

/*Navbar*/
.navbar {
    height: 10vh;
    padding: 1.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient(180deg, rgba(8,7,7,1) 0%, rgba(8,7,7,1) 85%, rgba(37,36,34,1) 100%);
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
}

.nav-links ul {
    list-style: none;
    display: flex;
}

.nav-links ul li {
    margin: 0 25px;
    font-size: 1.1em;
}

.nav-links ul li.checked a {
    font-size: 1.05em;
    font-weight: 600;
    text-decoration: underline;
}

.navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
}

@media screen and (max-width: 900px) {
    .navbar {
        padding: 0;
    }

    .navbar .logo {
        margin-top: 50px;
        margin-left: 50px;
    }

    .navbar .menu-hamburger {
        display: block;
    }

    .navbar .menu-hamburger:hover {
        cursor: pointer;
    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }
}

/*Home*/
.home {
    display: flex;
    height: 90vh;
}

/*Container-left*/
.container-left {
    width: 70vw;
    background: linear-gradient(33deg, rgba(29,109,129,1) 0%, rgba(19,73,87,1) 42%, rgba(2,38,46,1) 92%);
}

.header {
    width: 50%;
    margin-top: 25%;
    margin-left: 10%;
}

.header h1 {
    font-size: 2.3em;
}

.header p {
    font-size: 1.3em;
}

/*Container-right*/
.container-right {
    width: 30vw;
    display: flex;
    justify-content: flex-end;
    
}

/*About*/
.about {
    background: linear-gradient(180deg, rgba(37,36,34,1) 0%, rgba(8,7,7,1) 5%, rgba(8,7,7,1) 94%, rgba(37,36,34,1) 100%);
    height: 50vh;
}

.about .container {
    display: flex;
    justify-content: space-between;
}

.about-content {
    margin: 5% auto;
    width: 25%;
}

.about-content h1 {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 2%;
}

.about-content p {
    font-size: 1.1em;
}

/*Gallery*/
.gallery {
    display: flex;
    height: 100vh;
}

.gallery-left {
    width: 60vw;
    background: black;
}

.slideshow-container {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.slide {
    display: none;
}

.slide img {
    max-width: 75vh;
    height: 100vh;
}

.prev, .next {
    font-size: 2.4em;
    padding: 5% 2%;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    position: absolute;
    top: 185%;
    left: 0%;
}

.next {
    position: absolute;
    top: 185%;
    right: 40%;
}

.prev:hover, .next:hover {
    font-size: 3em;
}

.switch-dots {
    position: absolute;
    left: 27%;
    top: 246%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*Right side gallery*/
.gallery-right {
    width: 40vw;
    background: linear-gradient(176deg, rgba(29,109,129,1) 0%, rgba(19,73,87,1) 42%, rgba(2,38,46,1) 92%);
}

.mini-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5% 0;
}

.mini-gallery img {
    width: 150px;
    height: 230px;
    margin-left: 1%;
    margin-bottom: 1%;
}

/*Footer*/
footer {
    height: 40vh;
    background: linear-gradient(180deg, rgba(37,36,34,1) 0%, rgba(8,7,7,1) 6%);
}

.contact {
    height: 40vh;
    display: flex;
    align-items: center;
}

.contact img {
    width: 30px;
    height: 30px;
    margin-right: 2%;
}

.phone-number h2 {
    margin-bottom: 2%;
}

.phone-number a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.phone-number a:hover {
    text-decoration: underline;
}

.socials h1 {
    margin-bottom: 2%;
}

.socials ul {
    list-style: none;
}

.socials ul li a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.socials ul li a:hover {
    text-decoration: underline;
}

.phone-number, .socials {
    width: 50vw;
    padding: 0 15%;
}

.copyright {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(8,7,7,1) 0%, rgba(8,7,7,1) 80%, rgba(37,36,34,1) 100%);
}

.copyright p {
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1.5px;
}