* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Poppins', sans-serif;
}

/*Navbar*/
.navbar {
    height: 10vh;
    padding: 1.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
}

.nav-links ul {
    list-style: none;
    display: flex;
}

.nav-links ul li {
    margin: 0 25px;
    font-size: 1.1em;
}

.nav-links ul li.active a {
    font-weight: 600;
    text-decoration: underline;
}

.navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
}

@media screen and (max-width: 900px) {
    .navbar {
        padding: 0;
    }

    .navbar .logo {
        margin-top: 50px;
        margin-left: 50px;
    }

    .navbar .menu-hamburger {
        display: block;
    }

    .navbar .menu-hamburger:hover {
        cursor: pointer;
    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }
}

/*Home*/
.home {
    display: flex;
    height: 90vh;
}

/*Container-left*/
.container-left {
    width: 55%;
    background: linear-gradient(114.3deg, rgb(19, 126, 57) 0.2%, rgb(8, 65, 91) 68.5%);
}

.header {
    width: 60%;
    margin-top: 30%;
    margin-left: 10%;
}

.header h1 {
    font-size: 2.3em;
}

.header p {
    font-size: 1.3em;
}

/*Container-right*/
.container-right {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    background: rgb(8, 65, 91);
}

/*About*/
.about {
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    height: 50vh;
}

.about h1 {
    text-align: center;
    padding: 2%;
    font-size: 2em;
}

.about .container {
    display: flex;
    justify-content: space-between;
}

.about .container .about-content {
    margin: 0 auto;
    width: 25%;
}

.about-content h2 {
    text-align: center;
    margin-bottom: 1.5%;
}